// Copyright (c) 2009-2011 by Vincent Falco, One Guy Group, Inc.
// License: MIT License (http://www.opensource.org/licenses/mit-license.php)

//
// For all Debug configurations
//

#include "Shared.xcconfig"

// LVCM GCC 4.2 - Code Generation
GCC_OPTIMIZATION_LEVEL = 0

// LLVCM GCC 4.2 - Preprocessing

// problem with $(inherited)
//GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1 _DEBUG=1 JUCE_ObjCExtraSuffix= JUCE_UNIT_TESTS=1

