// Copyright (c) 2009-2011 by Vincent Falco, One Guy Group, Inc.
// License: MIT License (http://www.opensource.org/licenses/mit-license.php)

//
// For all MacOS targets
//

// Architectures
ARCHS = $(ARCHS_STANDARD_32_64_BIT)
//SDKROOT = 10.6 // This breaks "Relative to SDK" framework references

// Code Signing
//CODE_SIGN_IDENTITY = 3rd Party Mac Developer Application // Fails if there's no certificate
OTHER_CODE_SIGN_FLAGS = --all-architectures

// Deployment
MACOSX_DEPLOYMENT_TARGET = 10.4
MACOSX_DEPLOYMENT_TARGET[arch=x86_64] = 10.5
