// Copyright (c) 2009-2011 by Vincent Falco, One Guy Group, Inc.
// License: MIT License (http://www.opensource.org/licenses/mit-license.php)

//
// For all projects
//

//
// Architectures
//

//ADDITIONAL_SDKS =
//ARCHS =
//SDKROOT =
//ONLY_ACTIVE_ARCH =
  //SUPPORTED_PLATFORMS = iphonesimulator iphoneos macosx           // Supported Platforms
  //VALID_ARCHS = i386 x86_64 armv6 armv7                           // Valid Architectures

//
// Build Locations
//
//SYMROOT = build
//OBJROOT = $(SYMROOT)
//CONFIGURATION_BUILD_DIR =
//CONFIGURATION_TEMP_DIR =
//SHARED_PRECOMPS_DIR =

//
// Build Options
//

//BUILD_VARIANTS =
GCC_VERSION = com.apple.compilers.llvmgcc42                     // Compiler for C/C++/Objective C
DEBUG_INFORMATION_FORMAT = dwarf                                // Debug Information Format
//ENABLE_OPENMP_SUPPORT =
//GENERATE_PROFILING_CODE =
//PRECOMPS_INCLUDE_HEADERS_FROM_BUILT_PRODUCTS_DIR =
//RUN_CLANG_STATIC_ANALYZER =
//SCAN_ALL_SOURCE_FILES_FOR_INCLUDES =
//VALIDATE_PRODUCT =

//
// Code Signing
//

//CODE_SIGN_ENTITLEMENTS =
//CODE_SIGN_IDENTITY =
//CODE_SIGN_RESOURCE_RULES_PATH =
//OTHER_CODE_SIGN_FLAGS =
OTHER_CODE_SIGN_FLAGS = --all-architectures --options=kill,hard

//
// Deployment
//

//STRIPFLAGS =
//ALTERNATE_GROUP =
//ALTERNATE_OWNER =
//ALTERNATE_MODE =
//ALTERNATE_PERMISSIONS_FILES =
//COMBINE_HIDPI_IMAGES =
//DEPLOYMENT_LOCATION =
//DEPLOYMENT_POSTPROCESSING =
//INSTALL_GROUP =
//INSTALL_OWNER =
//INSTALL_MODE_FLAG =
//DSTROOT =
//INSTALL_PATH =
//MACOSX_DEPLOYMENT_TARGET =
SKIP_INSTALL = YES
COPY_PHASE_STRIP = NO
//STRIP_INSTALLED_PRODUCT
//STRIP_STYLE =
//SEPARATE_STRIP =

//
// Kernel Module
//

//MODULE_NAME = 
//MODULE_START = 
//MODULE_STOP = 
//MODULE_VERSION = 

//
// Linking
//

//BUNDLE_LOADER = 
//DYLIB_COMPATIBILITY_VERSION = 
//DYLIB_CURRENT_VERSION = 
//DEAD_CODE_STRIPPING = 
//LINKER_DISPLAYS_MANGLED_NAMES =
//LD_NO_PIE =
PRESERVE_DEAD_CODE_INITS_AND_TERMS = YES
//LD_DYLIB_INSTALL_NAME = 
//EXPORTED_SYMBOLS_FILE = 
//INIT_ROUTINE = 
//LINK_WITH_STANDARD_LIBRARIES = 
//MACH_O_TYPE = 
//LD_OPENMP_FLAGS = 
//ORDER_FILE = 
OTHER_LDFLAGS = -ObjC
//LD_MAP_FILE_PATH =
//GENERATE_MASTER_OBJECT_FILE =
//PRELINK_LIBS = 
//KEEP_PRIVATE_EXTERNS =
//LD_RUNPATH_SEARCH_PATHS = 
//SEPARATE_SYMBOL_EDIT =
//PRELINK_FLAGS = 
//SECTORDER_FLAGS = 
//UNEXPORTED_SYMBOLS_FILE = 
//WARNING_LDFLAGS = 
//LD_GENERATE_MAP_FILE =

//
// Packaging
//

//APPLY_RULES_IN_COPY_FILES = 
//EXECUTABLE_EXTENSION = 
//EXECUTABLE_PREFIX = 
//INFOPLIST_EXPAND_BUILD_SETTINGS = 
//GENERATE_PKGINFO_FILE = 
//FRAMEWORK_VERSION = 
//INFOPLIST_FILE = 
//INFOPLIST_OTHER_PREPROCESSOR_FLAGS = 
//INFOPLIST_OUTPUT_FORMAT = 
//INFOPLIST_PREPROCESSOR_DEFINITIONS = 
//INFOPLIST_PREFIX_HEADER = 
//INFOPLIST_PREPROCESS = 
//COPYING_PRESERVES_HFS_DATA =
//PRIVATE_HEADERS_FOLDER_PATH = 
PRODUCT_NAME = ${PROJECT_NAME}
//PLIST_FILE_OUTPUT_FORMAT = 
//PUBLIC_HEADERS_FOLDER_PATH = 
//STRINGS_FILE_OUTPUT_ENCODING = 
//WRAPPER_EXTENSION = 

//
// Search Paths
//

//ALWAYS_SEARCH_USER_PATHS =
  //FRAMEWORK_SEARCH_PATHS = $(DEVELOPER_FRAMEWORKS_DIR) $(inherited)
//HEADER_SEARCH_PATHS = 
//LIBRARY_SEARCH_PATHS = 
//REZ_SEARCH_PATHS = 
//EXCLUDED_RECURSIVE_SEARCH_PATH_SUBDIRECTORIES = 
//INCLUDED_RECURSIVE_SEARCH_PATH_SUBDIRECTORIES = 

//
// Unit Testing
//

//OTHER_TEST_FLAGS = 
//TEST_AFTER_BUILD = NO
//TEST_HOST = 
//TEST_RIG = 

//
// Versioning
//

//CURRENT_PROJECT_VERSION = 
//VERSION_INFO_FILE = 
//VERSION_INFO_EXPORT_DECL = 
//VERSION_INFO_PREFIX = 
//VERSION_INFO_SUFFIX = 
//VERSIONING_SYSTEM = 
//VERSION_INFO_BUILDER = 

//
// LLVM GCC 4.2 - Code Generation
//

//GCC_FAST_OBJC_DISPATCH = 
//GCC_OBJC_CALL_CXX_CDTORS = 
//GCC_ENABLE_SSE3_EXTENSIONS = 
//GCC_ENABLE_SSE41_EXTENSIONS = 
//GCC_ENABLE_SSE42_EXTENSIONS = 
//GCC_ENABLE_SUPPLEMENTAL_SSE3_INSTRUCTIONS = 
//GCC_STRICT_ALIASING = 
//GCC_FEEDBACK_DIRECTED_OPTIMIZATION = 
//GCC_GENERATE_DEBUGGING_SYMBOLS = 
//GCC_DYNAMIC_NO_PIC = 
//GCC_GENERATE_TEST_COVERAGE_FILES = 
//GCC_INLINES_ARE_PRIVATE_EXTERN = 
//GCC_INSTRUMENT_PROGRAM_FLOW_ARCS = 
//GCC_ENABLE_KERNEL_DEVELOPMENT = 
//GCC_DEBUGGING_SYMBOLS = 
//LLVM_LTO = 
//GCC_REUSE_STRINGS = 
//GCC_NO_COMMON_BLOCKS = 
//GCC_ENABLE_OBJC_GC = 
//GCC_OPTIMIZATION_LEVEL = 
//GCC_FAST_MATH = 
//GCC_ENABLE_SYMBOL_SEPARATION = 
//GCC_THREADSAFE_STATICS = 
GCC_SYMBOLS_PRIVATE_EXTERN = YES
//GCC_UNROLL_LOOPS =

//
// LLVM GCC 4.2 - Language
//

//GCC_CHAR_IS_UNSIGNED_CHAR = 
//GCC_ENABLE_ASM_KEYWORD = 
//GCC_C_LANGUAGE_STANDARD = 
//GCC_CHECK_RETURN_VALUE_OF_OPERATOR_NEW = 
//GCC_INPUT_FILETYPE = 
//GCC_ENABLE_CPP_EXCEPTIONS = 
//GCC_ENABLE_CPP_RTTI = 
//GCC_LINK_WITH_DYNAMIC_LIBRARIES = 
//GCC_ENABLE_OBJC_EXCEPTIONS = 
//GCC_ENABLE_TRIGRAPHS = 
//GCC_ENABLE_FLOATING_POINT_LIBRARY_CALLS = 
//GCC_USE_INDIRECT_FUNCTION_CALLS = 
//GCC_USE_REGISTER_FUNCTION_CALLS = 
//GCC_INCREASE_PRECOMPILED_HEADER_SHARING = 
//GCC_CW_ASM_SYNTAX = 
//OTHER_CPLUSPLUSFLAGS = 
//GCC_PRECOMPILE_PREFIX_HEADER = 
//GCC_PREFIX_HEADER = 
//GCC_ENABLE_BUILTIN_FUNCTIONS = 
//GCC_ENABLE_PASCAL_STRINGS = 
//GCC_FORCE_CPU_SUBTYPE_ALL =
//GCC_SHORT_ENUMS = 
//GCC_USE_STANDARD_INCLUDE_SEARCHING = 

// LLVM GCC 4.2 - Preprocessing

//GCC_PREPROCESSOR_DEFINITIONS = 
//GCC_PREPROCESSOR_DEFINITIONS_NOT_USED_IN_PRECOMPS = 

//
// LLVM GCC 4.2 - Warnings
//

//GCC_WARN_CHECK_SWITCH_STATEMENTS = 
//GCC_WARN_EFFECTIVE_CPLUSPLUS_VIOLATIONS = 
//GCC_WARN_FOUR_CHARACTER_CONSTANTS = 
//GCC_WARN_SHADOW = 
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
//GCC_WARN_ALLOW_INCOMPLETE_PROTOCOL = 
//GCC_WARN_INHIBIT_ALL_WARNINGS = 
//GCC_WARN_INITIALIZER_NOT_FULLY_BRACKETED = 
GCC_WARN_ABOUT_RETURN_TYPE = YES
//GCC_WARN_MISSING_PARENTHESES = 
//GCC_WARN_ABOUT_MISSING_FIELD_INITIALIZERS = 
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
//GCC_WARN_ABOUT_MISSING_NEWLINE = 
//GCC_WARN_MULTIPLE_DEFINITION_TYPES_FOR_SELECTOR = 
//GCC_WARN_NON_VIRTUAL_DESTRUCTOR = 
WARNING_CFLAGS = -Wreorder
//GCC_WARN_HIDDEN_VIRTUAL_FUNCTIONS = 
//GCC_WARN_PEDANTIC = 
//GCC_WARN_ABOUT_POINTER_SIGNEDNESS = 
//GCC_WARN_PROTOTYPE_CONVERSION = 
//GCC_WARN_SIGN_COMPARE = 
//GCC_WARN_STRICT_SELECTOR_MATCH = 
//GCC_TREAT_IMPLICIT_FUNCTION_DECLARATIONS_AS_ERRORS = 
//GCC_TREAT_NONCONFORMANT_CODE_ERRORS_AS_WARNINGS = 
//GCC_TREAT_WARNINGS_AS_ERRORS = 
//GCC_WARN_TYPECHECK_CALLS_TO_PRINTF = 
//GCC_WARN_UNDECLARED_SELECTOR = 
//GCC_WARN_UNINITIALIZED_AUTOS = 
//GCC_WARN_UNKNOWN_PRAGMAS = 
//GCC_WARN_UNUSED_FUNCTION = 
//GCC_WARN_UNUSED_LABEL = 
//GCC_WARN_UNUSED_PARAMETER = 
//GCC_WARN_UNUSED_VALUE = 
GCC_WARN_UNUSED_VARIABLE = YES
//GCC_WARN_ABOUT_DEPRECATED_FUNCTIONS = 
//GCC_WARN_ABOUT_INVALID_OFFSETOF_MACRO = 


