// Copyright (c) 2009-2011 by Vincent Falco, One Guy Group, Inc.
// License: MIT License (http://www.opensource.org/licenses/mit-license.php)

//
// For all Release configurations
//

#include "Shared.xcconfig"

// LVCM GCC 4.2 - Code Generation
GCC_OPTIMIZATION_LEVEL = 3

// LLVCM GCC 4.2 - Preprocessing

// problem with $(inherited)
//GCC_PREPROCESSOR_DEFINITIONS = NDEBUG=1 _NDEBUG=1 JUCE_ObjCExtraSuffix=
